<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>My Cool Website</title>
</head>

  <body>
    <!-- <h1>About Page</h1> -->
    <!-- referencing the arguments passed to res.render in app.get() -->
    <!-- call in the partials -->
    {{> header}}
    <p>get some help</p>

    <!-- call in the partials -->
    {{> footer}}

  </body>
</html>
